/*
* @Author: Ziyuan Wang
* @Date:   2016-06-09 11:48:41
* @Last Modified by:   anchen
* @Last Modified time: 2016-06-14 18:57:15
*/

/*Header*/
.navbar-default {
    background-color: gray;
}
.navbar-default .navbar-brand {
    color: #333;
}
.navbar-default .navbar-toggle {
    background-color: gray;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: gray;
}
.navbar-default .navbar-toggle:focus span, .navbar-default .navbar-toggle:hover span {
    background-color: #ddd;
}
#nav-list {
    background-color: #fff;
}
#nav-list li{
    text-align: center;
}

#collapsable-nav ul {
    margin-top: 0;
    margin-bottom: 0;
}
#collapsable-nav ul li {
    border-bottom: 1px solid #000;
}

/*End Header*/

/*Section*/
section p {
    background-color: gray;
    height: 1000px;
}

/*End section*/

